<?xml version="1.0" ?>
<robot name="simple_cube">
  <link name="cube">
    <visual>
      <geometry>
        <box size="1 1 1" />
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
  </link>
  <joint name="fixed_joint" type="fixed">
    <parent link="base_link" />
    <child link="cube" />
    <origin xyz="0 0 0.5" />
  </joint>
</robot>
